p {
  font-family: "Courier New", Courier, monospace;
}
.my-container {
  width: 92%;
  margin: 0 4% auto;
  margin-top: 5px;
  border: 1px solid #ddd;
  min-height: 300px;
  padding: 10px;
}

.c-titile {
  color: #555;
}
